__pycache__/
*.py[cod]

data/_tmp_census_downloads/
data/*/*__precinct.csv
data/census/tl_2010_39_county10/
data/census/tl_2010_39_tabblock10/
data/census/tl_2020_39_county20/
data/census/tl_2020_39_tabblock20/
data/2010/2010_general_precinct.txt
data/2010/2010_primary_precinct.txt
data/2012/2012precinct.txt
data/2012/2012precinct.xlsx
data/tileset/tl_2020_39_cd118/
data/tileset/tl_2020_39_sldl/
data/tileset/tl_2020_39_sldu/
data/tileset/tl_2022_39_cd118/
data/tileset/tl_2024_39_cd119/
data/tileset/tl_2024_39_sldl/
data/tileset/tl_2024_39_sldu/
